.header {
  height: 289px;
  background-image: url("../img/excursions/header-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 59px;
  padding-top: 26px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list li:not(:last-child) {
  margin-right: 20px;
}

.header-nav__list li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  -webkit-transition: 0.2s ease-in color;
  transition: 0.2s ease-in color;
}

.header-nav__list li a:hover {
  color: #ffc700;
}

.header__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  color: #ffffff;
}

/* =======================filter=================== */
.top-filter {
  margin-bottom: 38px;
}

.filter__box {
  max-width: 1120px;
  max-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  padding: 10px;
  border-bottom: 2px solid #d4d4d4;
}

.filter__list-item {
  position: relative;
  color: #282828;
}

.filter__list-item:not(:last-child) {
  margin-right: 20px;
}

.filter__list-item--active {
  color: #0499dd;
}

.filter__list-item--active::after {
  content: "";
  position: absolute;
  width: 115%;
  height: 2px;
  bottom: -70%;
  left: -7%;
  background-color: #0499dd;
}

.filter__list-item a {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.filter__form .form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.filter__form .form select::-ms-expand {
  display: none;
}

.filter__form .form-item {
  margin-right: 20px;
  padding: 16px 25px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.filter__form .form-item__select-city {
  max-width: 235px;
  padding-right: 100px;
  background: url("../img/excursions/location-img.svg") no-repeat right 12% center;
}

.filter__form .form-item__select-amount-person {
  max-width: 235px;
  padding-right: 50px;
  background: url("../img/excursions/person-ico.svg") no-repeat right 12% center;
}

.filter__form .form-item__btn {
  max-width: 235px;
  padding: 16px 82px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.filter__form .form input[type="date"] {
  position: relative;
}

.filter__form .form input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

.filter__form .form input[type="date"]:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10%;
  background-image: url("../img/excursions/calendar-ico.svg");
  background-repeat: no-repeat;
  color: #999;
}

/* =======================aside =================== */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside.filters {
  margin-top: 20px;
  margin-right: 43px;
  width: 295px;
  height: 1018px;
  padding: 25px 35px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.filters-widget-mobile {
  display: none;
}

.filters__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  /* blue */
  color: #0499dd;
}

.widget {
  position: relative;
  max-width: 225px;
  margin-bottom: 40px;
}

.widget::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ededed;
}

.widget__title {
  width: 225px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}

.widget__title--active .widget__title-icon__icon:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.widget__title-title {
  pointer-events: none;
}

.widget__title-icon {
  width: 16px;
  height: 2px;
  padding: 30px;
  pointer-events: none;
}

.widget__title-icon__icon {
  display: block;
  width: 30px;
  height: 2px;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.widget__title-icon__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  width: 16px;
  height: 2px;
  background-color: #0499dd;
}

.widget__title-icon__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  width: 16px;
  height: 2px;
  background-color: #0499dd;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.widget__body {
  height: 0;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.widget__body--active {
  height: 100%;
  opacity: 1;
}

/* widget price */
.widget__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.widget__label input {
  max-width: 105px;
  padding: 7px 16px;
  background: #ffffff;
  border: 1px solid #ededed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
}

.widget__label label:not(:last-child) {
  margin-right: 15px;
}

.widget__range {
  height: 15px;
  width: 225px;
}

/* widget  amount person*/
.widget__body-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget__body-box .radio {
  width: 33.3333%;
  cursor: pointer;
}

.widget__body-box .radio + .radio {
  margin-top: 7px;
}

.radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.radio__fake {
  position: relative;
  display: block;
  max-width: 150px;
  max-height: 30px;
  margin-right: 3px;
  padding: 7px 10px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #282828;
}

.radio-btn-more-person {
  width: 150px;
}

.radio__real:checked + .radio__fake {
  background: #0499dd;
  color: #ffffff;
}

/* widget location */
.radio-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.radio-location input {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.radio-location__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #282828;
}

.filters-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filters__btn-show {
  width: 225px;
  height: 40px;
  margin-bottom: 10px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  -webkit-transition: 0.3s ease-in all;
  transition: 0.3s ease-in all;
}

.filters__btn-show:hover {
  -webkit-box-shadow: 0px 8px 15px -10px black;
          box-shadow: 0px 8px 15px -10px black;
}

.filters__btn-reset {
  position: relative;
  width: 120px;
  height: 15px;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #282828;
  -webkit-transition: 0.3s ease-in all;
  transition: 0.3s ease-in all;
}

.filters__btn-reset::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15%;
  width: 14px;
  height: 14px;
  background-image: url("../img/svg/reset-filters.svg");
  background-repeat: no-repeat;
  -webkit-transition: 0.3s ease-in all;
  transition: 0.3s ease-in all;
}

.filters__btn-reset:hover::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* =======================main=================== */
main {
  width: 100%;
  padding-bottom: 80px;
}

.our-tours__title {
  margin-bottom: 49px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0499dd;
}

.our-tours-container {
  margin-bottom: 20px;
}

.tours__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.tours__item-img {
  max-width: 238px;
  max-height: 303px;
  width: 100%;
  height: auto;
  background-image: url("../img/excursions/tour-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.tours__item-content {
  padding: 27px 43px;
}

.tours__item-name {
  max-width: 150px;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffc700;
}

.tours__item-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #282828;
}

.tours__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tours__item-price {
  margin-bottom: 20px;
  margin-right: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0499dd;
}

.tours__item-price__category {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #282828;
}

.tours__item-time {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0499dd;
}

.tours__item-text {
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 3px solid #0499dd;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #282828;
}

.tours__item-text p {
  max-width: 431px;
}

.tours__item-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.tours__item__btn-more {
  max-width: 160px;
  padding: 12px 43px;
  border-radius: 40px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.tours__item__btn-favorite {
  background-color: transparent;
}

.tours__item__btn-favorite svg {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  fill: #ededed;
  stroke: #d4d4d4;
}

.tours__item__btn-favorite:active,
.tours__item__btn-favorite :focus,
.tours__item__btn-favorite :hover {
  stroke: #0499dd;
  fill: transparent;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pages__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.pages__item:hover {
  color: #0499dd;
  text-decoration: underline;
}

.pages__item:not(:last-child) {
  margin-right: 12px;
}

.pages__item:last-child {
  margin-right: 6px;
}

.pages__btn-prev {
  margin-right: 6px;
}

/* =======================footer=================== */
.footer {
  background: #ededed;
}

@media (max-width: 1025px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  aside.filters {
    margin-right: auto;
  }
  .filters {
    margin-right: 20px;
  }
}

@media (max-width: 1000px) {
  .tours__item-img img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 950px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .tours__item {
    margin-bottom: 40px;
  }
  .tours__item:last-child {
    margin-bottom: 90px;
  }
  .top-filter {
    padding-bottom: 61px;
    margin-bottom: 118px;
  }
  .filter__box {
    margin: 0 auto;
    max-width: 610px;
    max-height: 353px;
    padding: 50px 50px 83px;
  }
  .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-item {
    margin-bottom: 20px;
    width: 235px;
    height: 50px;
  }
  main {
    padding-bottom: 70px;
  }
  aside.filters {
    width: 610px;
    height: 100%;
  }
  .filters {
    margin: 0 auto;
    margin-bottom: 150px;
  }
  .filters-widget {
    display: none;
  }
  .filters-widget-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .header {
    height: 510px;
    background-image: url("../img/excursions/header-bg-mobile.jpg");
  }
  .header-nav {
    margin-bottom: 142px;
  }
  .header__title {
    font-size: 48px;
    line-height: 59px;
  }
  .tours__item {
    max-width: 610px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .tours__item-img {
    max-height: 444px;
  }
  .tours__item-content {
    padding: 27px 30px 27px 43px;
  }
  .tours__item-price {
    margin-right: 10px;
  }
}

@media (max-width: 650px) {
  .header-nav {
    margin-bottom: 80px;
  }
  .container {
    max-width: 100%;
  }
  .top-filter {
    padding-bottom: 16px;
    margin-bottom: 44px;
  }
  .filter__box {
    max-width: 380px;
    max-height: 480px;
    padding: 60px 0px 70px;
  }
  .filter__list {
    padding: 10px 0;
  }
  .filter__list-item:not(:last-child) {
    margin-right: 10px;
  }
  .filter__list-item--active::after {
    width: 100%;
    bottom: -80%;
    left: 0%;
  }
  .filter__list-item a {
    font-size: 12px;
    line-height: 15px;
  }
  .tours__item {
    max-width: 380px;
    padding-bottom: 66px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tours__item-img {
    max-width: 380px;
    height: 240px;
    background-image: url("../img/excursions/tour-img-mob.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tours__item-text {
    margin-bottom: 40px;
  }
  aside.filters {
    width: 100%;
  }
  .filters-widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filters-widget-mobile {
    display: none;
  }
}

@media (max-width: 400px) {
  .header {
    margin-bottom: 0;
  }
  .mobile-nav {
    width: 100%;
  }
  .tours__item-content {
    padding: 26px 0px 27px 10px;
  }
  .tours__item-price {
    font-size: 14px;
    line-height: 16px;
  }
  .tours__item-time {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 380px) {
  .header {
    height: 370px;
  }
  .header-nav {
    margin-bottom: 60px;
  }
  .header__title {
    font-size: 32px;
    line-height: 48px;
  }
  .filter__list {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .filter__list-item:not(:last-child) {
    margin-right: 5px;
  }
  .tours__item-content {
    padding: 26px 0px 27px 10px;
  }
}

@media (max-width: 360px) {
  .filter__box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 40px 0px 30px;
  }
  .filter__list {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter__list-item {
    margin-bottom: 20px;
  }
  .filter__list-item a {
    font-size: 14px;
    line-height: 16px;
  }
  .filter__list-item--active::after {
    width: 45%;
    bottom: -40%;
    left: 0%;
  }
  main {
    padding-bottom: 20px;
  }
  .tours__item:last-child {
    margin-bottom: 50px;
  }
  .tours__item {
    padding-bottom: 10px;
  }
}
